<h1>Add Fish</h1>
<div id="fishForm">
  <form id="fishForm" ng-submit="afc.addFish()">
    <label for="fishBreed">Breed: </label>
    <input type="text" id="fishBreed" name="fishBreed" ng-model="afc.newFish.breed"/><br>

    <label for="fishLength">Fish Length: </label>
    <input type="number" id="fishLength" name="fishLength" ng-model="afc.newFish.length"/><br>

    <label for="fishWeight">Fish Weight: </label>
    <input type="number" id="fishWeight" name="fishWeight" ng-model="afc.newFish.weight"/><br>

    <label for="fishGirth">Fish Girth: </label>
    <input type="number" id="fishGirth" name="fishGirth" ng-model="afc.newFish.girth"/><br>

    <label for="fishLocation">Location Caught: </label>
    <input type="text" id="fishGirth" name="fishGirth" ng-model="afc.newFish.girth"/><br>

    <label for="fishGear">Gear Used: </label>
    <input type="text" id="fishGear" name="fishGear" ng-model="afc.newFish.gear"/><br>

    <label for="fishWeather">Weather Conditions: </label>
    <input type="text" id="fishWeather" name="fishWeather" ng-model="afc.newFish.weather"/><br>

    <input type="submit" value="Submit New Fish" ng-click="afc.addFish(newFish)"/>
  </form>
</div>
