
<div class="mainFishForm">
  <fieldset class="dropForm">
  <form id="fishForm" ng-submit="afc.addFish()" onsubmit=" alert('Fish Submitted!');">
    <h3>Add Your Fish</h3>
    <label for="fishSpecies" class="select" name="fishSpecies">Select a Species</label>
    <select for="fishSpecies" class="weee" id="fishSpecies" name="fishSpecies" ng-model="afc.newFish.species">
      <option value="Bass">Bass</option>
      <option value="Walleye">Walleye</option>
      <option value="Muskie">Muskie</option>
      <option value="Pike">Pike</option>
      <option value="Crappie">Crappie</option>
      <option value="Perch">Perch</option>
      <option value="RockBass">Rock Bass</option>
    </select>
    <br>

    <label for="fishLength">Fish Length: </label><br>
    <input type="number" id="fishLength" name="fishLength" ng-model="afc.newFish.fishLength"/><br>

    <label for="fishWeight">Fish Weight: </label><br>
    <input type="number" id="fishWeight" name="fishWeight" ng-model="afc.newFish.weight"/><br>

    <label for="fishGirth">Fish Girth: </label><br>
    <input type="number" id="fishGirth" name="fishGirth" ng-model="afc.newFish.girth"/><br>

    <label for="fishLocation">Location Caught: </label>
    <input type="text" id="fishGirth" name="fishGirth" ng-model="afc.newFish.location"/><br>

    <label for="fishGear">Gear Used: </label>
    <input type="text" id="fishGear" name="fishGear" ng-model="afc.newFish.gear"/><br>

    <label for="fishWeather">Weather Conditions: </label>
    <input type="text" id="fishWeather" name="fishWeather" ng-model="afc.newFish.weather"/><br>

    <input type="submit" value="Submit New Fish" class="action-button"/>
  </form>
</fieldset>
</div>

<div class="mainFishForm">
  <div class="uploads">
<!-- THROW IN REQUIRED AFTER COMPLETING -->
<h1>Add Fish Picture!</h1>
 <form ng-submit="afc.submit()">
   <label for="name">Name:</label>
   <input type="text" name="name" id="name" ng-model="afc.upload.name"/>
   <br/>
   <label for="file">File:</label>
   <input type="file" name="file" id="file" ng-model="afc.upload.file" ngf-select ngf-max-size="25MB"/>
   <br/>
   <input type="submit" value="Submit"/>
 </form>

 <h2>All uploads are here:</h2>
<ul ng-repeat="picture in afc.picData">
  <li>
  <img ng-src='uploads/{{picture.file.filename}}' class="fishPics">{{picture.file.originalname}}</a>
</li>
</ul>
</div>
</div>
