<!-- <div ng-repeat="fish in sc.fishData">
<img ng-src='uploads/{{fish.image}}' class="allFishPics"></img>
</div> -->

<div class="row">
  <div ng-repeat="fish in sc.fishData">
    <div class="col-sm-3">
      <img ng-src='uploads/{{fish.image}}' class="allFishPics"></img>
      <!-- <p>Length: {{fish.fishLength}} inches</p>
      <p>Weight: {{fish.weight}} pounds</p>
      <p>Girth: {{fish.girth}} inches</p>
      <p>Location: {{fish.location}}</p>
      <p>Gear: {{fish.gear}}</p>
      <p>Weather: {{fish.weather}}</p> -->
    </div>
  </div>
</div>
