<div class="tFC">
<button ng-click="tfc.logIn()" class="authButton">Log In</button>
<button ng-click="tfc.logOut()" class="authButton">Log Out</button>
<div ng-hide="tfc.fishData.length > 0" class="parable">



  <p>When the wind blows from the East, the fish bite the least.<br>
    When the wind blows from the West, the fish bite the best.<br>
    When the wind blows from the North, no fisherman ventures forth.<br>
    When the wind blows from the South, it blows the hook into the fishes mouth.</p>

  </div>

  <div ng-if="tfc.fishData.length > 0">

    <div class="whosFish">
      <h2>Top Fish for {{tfc.currentUser.displayName}}</h2>
    </div>

    <div class="cheatFooter">

      <div class="row">
        <div ng-repeat="fish in tfc.fishData | filter: fish.species='bass' | orderBy: '-fishLength' | limitTo: '3'">
          <div class="col-sm-4 topFish" class="topFish" id="topFishId" ng-class="{gold: $index == 0, silver: $index == 1, bronze: $index == 2}">
            <img ng-src='uploads/{{fish.image}}' class="fishPics"></img>
            <div class="topFishInfo">
            <h3 class="topFishSpecies">#{{$index + 1}} Bass</h3>
            <p>Length: {{fish.fishLength}} inches</p>
            <p>Weight: {{fish.weight}} pounds</p>
            <p>Girth: {{fish.girth}} inches</p>
            <p>Location: {{fish.location}}</p>
            <p>Gear: {{fish.gear}}</p>
            <p>Weather: {{fish.weather}}</p>
          </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div ng-repeat="fish in tfc.fishData | filter: fish.species='walleye' | orderBy: '-fishLength' | limitTo: '3'">
          <div class="col-sm-4 topFish" id="topFishId" ng-class="{gold: $index == 0, silver: $index == 1, bronze: $index == 2}">
            <img ng-src='uploads/{{fish.image}}' class="fishPics"></img>
                        <div class="topFishInfo">
            <h3 class="topFishSpecies">#{{$index + 1}} Walleye</h3>
            <p>Length: {{fish.fishLength}} inches</p>
            <p>Weight: {{fish.weight}} pounds</p>
            <p>Girth: {{fish.girth}} inches</p>
            <p>Location: {{fish.location}}</p>
            <p>Gear: {{fish.gear}}</p>
            <p>Weather: {{fish.weather}}</p>
          </div>
          </div>
        </div>
      </div>

      <div class="row" >
        <div ng-repeat="fish in tfc.fishData | filter: fish.species='muskie' | orderBy: '-fishLength' | limitTo: '3'">
          <div class="col-sm-4 topFish" id="topFishId" ng-class="{gold: $index == 0, silver: $index == 1, bronze: $index == 2}">
            <img ng-src='uploads/{{fish.image}}' class="fishPics"></img>
                        <div class="topFishInfo">
            <h3 class="topFishSpecies">#{{$index + 1}} Muskie</h3>
            <p>Length: {{fish.fishLength}} inches</p>
            <p>Weight: {{fish.weight}} pounds</p>
            <p>Girth: {{fish.girth}} inches</p>
            <p>Location: {{fish.location}}</p>
            <p>Gear: {{fish.gear}}</p>
            <p>Weather: {{fish.weather}}</p>
          </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div ng-repeat="fish in tfc.fishData | filter: fish.species='pike' | orderBy: '-fishLength' | limitTo: '3' ">
          <div class="col-sm-4 topFish" id="topFishId" ng-class="{gold: $index == 0, silver: $index == 1, bronze: $index == 2}">
            <img ng-src='uploads/{{fish.image}}' class="fishPics"></img>
            <h3 class="topFishSpecies">#{{$index + 1}} Pike</h3>
                        <div class="topFishInfo">
            <p>Length: {{fish.fishLength}} inches</p>
            <p>Weight: {{fish.weight}} pounds</p>
            <p>Girth: {{fish.girth}} inches</p>
            <p>Location: {{fish.location}}</p>
            <p>Gear: {{fish.gear}}</p>
            <p>Weather: {{fish.weather}}</p>
          </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div ng-repeat="fish in tfc.fishData | filter: fish.species='crappie' | orderBy: '-fishLength' | limitTo: '3'">
          <div class="col-sm-4 topFish" id="topFishId" ng-class="{gold: $index == 0, silver: $index == 1, bronze: $index == 2}">
            <h3 class="topFishSpecies">#{{$index + 1}} Crappie</h3>
            <img ng-src='uploads/{{fish.image}}' class="fishPics"></img>
                        <div class="topFishInfo">
            <p>Length: {{fish.fishLength}} inches</p>
            <p>Weight: {{fish.weight}} pounds</p>
            <p>Girth: {{fish.girth}} inches</p>
            <p>Location: {{fish.location}}</p>
            <p>Gear: {{fish.gear}}</p>
            <p>Weather: {{fish.weather}}</p>
          </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div ng-repeat="fish in tfc.fishData | filter: fish.species='perch' | orderBy: '-fishLength' | limitTo: '3' ">
          <div class="col-sm-4 topFish" id="topFishId" ng-class="{gold: $index == 0, silver: $index == 1, bronze: $index == 2}">
            <img ng-src='uploads/{{fish.image}}' class="fishPics"></img>
            <div class="topFishInfo">
            <h3 class="topFishSpecies">#{{$index + 1}} Perch</h3>
            <p>Length: {{fish.fishLength}} inches</p>
            <p>Weight: {{fish.weight}} pounds</p>
            <p>Girth: {{fish.girth}} inches</p>
            <p>Location: {{fish.location}}</p>
            <p>Gear: {{fish.gear}}</p>
            <p>Weather: {{fish.weather}}</p>
          </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div ng-repeat="fish in tfc.fishData | filter: fish.species='rockbass' | orderBy: '-fishLength' | limitTo: '3'">
          <div class="col-sm-4 topFish"  id="topFishId" ng-class="{gold: $index == 0, silver: $index == 1, bronze: $index == 2}">
            <img ng-src='uploads/{{fish.image}}' class="fishPics" ></img>
                        <div class="topFishInfo">
            <h3 class="topFishSpecies">#{{$index + 1}} Rock Bass</h3>
            <p>Length: {{fish.fishLength}} inches</p>
            <p>Weight: {{fish.weight}} pounds</p>
            <p>Girth: {{fish.girth}} inches</p>
            <p>Location: {{fish.location}}</p>
            <p>Gear: {{fish.gear}}</p>
            <p>Weather: {{fish.weather}}</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
