<div class="whosFish">
<h3>View Fish</h3>
</div>
<table class="table table-hover table-inverse" id="tableId" ng-if="vfc.fishData.length > 0">
  <thead>
    <tr>
      <th>Species</th>
      <th>Length</th>
      <th>Weight</th>
      <th>Girth</th>
      <th>Location</th>
      <th>Gear</th>
      <th>Weather</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="fish in vfc.fishData">
      <td>{{fish.species}}</td>
      <td>{{fish.fishLength}} inches</td>
      <td>{{fish.weight}} pounds</td>
      <td>{{fish.girth}} inches</td>
      <td>{{fish.location}}</td>
      <td>{{fish.gear}}</td>
      <td>{{fish.weather}}</td>
      <td><button class = "btn btn-danger" ng-click="vfc.deleteFish(fish)">Release</button></td>
    </tr>
  </tbody>
</table>
