<div class="row" ng-if="vfc.fishData.length > 0">
<div class="statsPage col-sm-4">
<div class = "fishStats">
<h3 class="statTitle">Fish Stats for {{vfc.currentUser.displayName}}</h3>
<p class="stats"> Most Used Tackle: {{vfc.mostUsedGear}} </p>
<p class="stats"> Most Fished Lake: {{vfc.mostUsedLake}} </p>
<p class="stats"> Most Species Caught: {{vfc.mostCaughtBreed}} </p>
<p class="stats"> Average Fish Length: {{vfc.averageLength}} inches</p>
<p class="stats"> Average Fish Weight: {{vfc.averageWeight}} pounds</p>
<h3 class="statTitle">Bass Stats</h3>
<p class="stats"> Average Length: {{vfc.averageBassLength}} inches</p>
<p class="stats"> Average Weight: {{vfc.averageBassWeight}} pounds</p>
<p class="stats"> Most Used Tackle: {{vfc.mostUsedBassGear}}</p>
<p class="stats"> Most Fished Bass Lake: {{vfc.topBassLake}}</p>
<h3 class="statTitle">Walleye Stats</h3>
<p class="stats"> Average Walleye Length: {{vfc.averageWalleyeLength}} inches</p>
<p class="stats"> Average Walleye Weight: {{vfc.averageWalleyeWeight}} pounds</p>
<p class="stats"> Most Used Tackle: {{vfc.mostUsedWalleyeGear}}</p>
<p class="stats"> Most Fished Walleye Lake: {{vfc.topWalleyeLake}}</p>
<h3 class="statTitle">Muskie Stats</h3>
<p class="stats"> Average Muskie Length: {{vfc.averageMuskieLength}} inches</p>
<p class="stats"> Average Muskie Weight: {{vfc.averageMuskieWeight}} pounds</p>
<p class="stats"> Most Used Tackle: {{vfc.mostUsedMuskieGear}}</p>
<p class="stats"> Most Fished Muskie Lake: {{vfc.topMuskieLake}}</p>
<h3 class="statTitle">Pike Stats</h3>
<p class="stats"> Average Pike Length: {{vfc.averagePikeLength}} inches</p>
<p class="stats"> Average Pike Weight: {{vfc.averagePikeWeight}} pounds</p>
<p class="stats"> Most Used Tackle: {{vfc.mostUsedPikeGear}}</p>
<p class="stats"> Most Fished Pike Lake: {{vfc.topPikeLake}}</p>
<h3 class="statTitle">Crappie Stats</h3>
<p class="stats"> Average Crappie Length: {{vfc.averageCrappieLength}} inches</p>
<p class="stats"> Average Crappie Weight: {{vfc.averageCrappieLength}} pounds</p>
<p class="stats"> Most Used Tackle: {{vfc.mostUsedCrappieGear}}</p>
<p class="stats"> Most Fished Crappie Lake: {{vfc.topCrappieLake}}</p>
<h3 class="statTitle">Perch Stats</h3>
<p class="stats"> Average Perch Length: {{vfc.averagePerchLength}} inches</p>
<p class="stats"> Average Perch Weight: {{vfc.averagePerchLength}} pounds</p>
<p class="stats"> Most Used Tackle: {{vfc.mostUsedPerchGear}}</p>
<p class="stats"> Most Fished Perch Lake: {{vfc.topPerchLake}}</p>
<h3 class="statTitle">Rock Bass Stats</h3>
<p class="stats"> Average Rock Bass Length: {{vfc.averageRockBassLength}} inches</p>
<p class="stats"> Average Rock Bass Length: {{vfc.averageRockBassWeight}} pounds</p>
<p class="stats"> Most Used Tackle: {{vfc.mostUsedRockBassGear}}</p>
<p class="stats"> Most Fished Rock Bass Lake: {{vfc.topRockBassLake}}</p>
</div>
</div>

<div class= "col-sm-8">
<table class="table table-hover table-inverse" id="tableId" ng-if="vfc.fishData.length > 0">
<h3 class="whosFish">Search All Fish</h3><input type="text" ng-model="searchBox">
  <thead>
    <tr>
      <th>Species</th>
      <th>Length</th>
      <th>Weight</th>
      <th>Girth</th>
      <th>Location</th>
      <th>Gear</th>
      <th>Weather</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="fish in vfc.fishData | filter: searchBox">
      <td>{{fish.species}}</td>
      <td>{{fish.fishLength}} inches</td>
      <td>{{fish.weight}} pounds</td>
      <td>{{fish.girth}} inches</td>
      <td>{{fish.location}}</td>
      <td>{{fish.gear}}</td>
      <td>{{fish.weather}}</td>
      <td>
        <!-- <a href="uploads/{{fish.image}}"> -->
      <img ng-src='uploads/{{fish.image}}' class="fishTableThumb"></img>
    <!-- </a> -->
    </td>
      <td><button class = "btn btn-danger" ng-click="vfc.deleteFish(fish)">Release</button></td>
    </tr>
  </tbody>
</table>

<div ng-repeat="fish in vfc.fishData">

</div>
</div>
</div>
