#mainBody {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

h1 {
  color: lightgreen;
  font-family: 'Fjalla One', sans-serif;
  margin-left: 20px;
  font-size: 50px;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
}

.parable {
  margin: 0 auto;
  height: 300px;
  width: 500px;
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
}

#logo {
  float: left;
  margin-left: 20px;
  margin-right: 30px;
}

button hover:#loginButton {
  background-color: magenta;
}

.headerthing {
  color: white;
  /*background-image: url("../assets/images/lake.png");*/
  background-color: black;
}

.whosFish {
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

.mainPadding {
  padding: 20px;
}

.topFish {
  background-color: lightblue;
  -webkit-box-shadow: 4px 4px 21px -4px rgba(0,0,0,0.65);
  -moz-box-shadow: 4px 4px 21px -4px rgba(0,0,0,0.65);
  box-shadow: 4px 4px 21px -4px rgba(0,0,0,0.65);
  margin: 10px;
  width: 31vw;
  padding: 10px;
  border-radius: 5px;
}

.topFishSpecies {
  border-bottom: 1px dotted white;
}

.navBar {
  background-color: black;
  margin-top: -10px;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}


h3 {
  font-family: 'Fjalla One', sans-serif;
}

p {
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Hind', sans-serif;
}

.topFish {

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.6s;
}
.topFish ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topFish ul li{
    display: inline-block;
    margin-right: 20px
}

@keyframes dropHeader {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes shake {
	0% { transform: translate(0px); opacity: 0;}
	17% { transform: translate(10px); }
	34% { transform: translate(-10px); }
	51% { transform: translate(6px); }
	68% { transform: translate(-6px); }
	85% { transform: translate(3px); }
	100% { transform: translate(0px); opacity: 1;}
}

.mainFishForm {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
}

.mainFishForm {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  /*position: relative;*/
}

#fishForm input[type="text"],
#fishForm input[type="email"],
#fishForm input[type="tel"],
#fishForm input[type="url"],
#fishForm textarea,
#fishForm button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#fishForm {
  background: lightblue;
  padding: 25px;
  margin: 10px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#fishForm h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#fishForm h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#fishForm input[type="text"],
#fishForm input[type="email"],
#fishForm input[type="tel"],
#fishForm input[type="url"],
#fishForm textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#fishForm input[type="text"]:hover,
#fishForm input[type="email"]:hover,
#fishForm input[type="tel"]:hover,
#fishForm input[type="url"]:hover,
#fishForm textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#fishForm textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#fishForm button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#fishForm button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#fishForm button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#fishForm input:focus,
#fishForm textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

.footer-distributed {
  padding: 10px;
  color: white;
}

.dropForm {

    animation-name: dropForm;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.6s;
}

@keyframes dropForm {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

#tableId{
  background-color: lightblue;
  padding: 10px;
}

/*#topFishId:hover  {
  background-color: yellow;
}*/

.footer-distributed {

}

.jumbotron {
    margin-bottom: 0px;
    background-image: url('../assets/images/lake.png');
    background-position: 0% 99%;
    background-repeat: no-repeat;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 200px;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
  color: white;
	padding: 55px 50px;
	margin-top: 80px;
  position:relative;
  border-top: 5px solid lightblue;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
